function Face.new 0
push constant 3
call Memory.alloc 1
pop pointer 0
push constant 256
pop this 0
push constant 128
pop this 1
push constant 100
pop this 2
push pointer 0
call Face.drawOutside 1
pop temp 0
push pointer 0
return
function Face.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Face.drawOutside 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 2
call Screen.drawCircle 3
pop temp 0
push constant 0
return
function Face.drawNeutral 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 214
push constant 107
push constant 10
call Screen.drawCircle 3
pop temp 0
push constant 300
push constant 107
push constant 10
call Screen.drawCircle 3
pop temp 0
push constant 214
push constant 190
push constant 300
push constant 190
call Screen.drawLine 4
pop temp 0
push constant 0
return
function Face.drawSad 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 207
push constant 114
push constant 221
push constant 100
call Screen.drawLine 4
pop temp 0
push constant 221
push constant 100
push constant 228
push constant 114
call Screen.drawLine 4
pop temp 0
push constant 293
push constant 114
push constant 307
push constant 100
call Screen.drawLine 4
pop temp 0
push constant 307
push constant 100
push constant 314
push constant 114
call Screen.drawLine 4
pop temp 0
push constant 214
push constant 190
push constant 300
push constant 190
call Screen.drawLine 4
pop temp 0
push constant 0
return
function Face.drawAngry 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 207
push constant 100
push constant 221
push constant 114
call Screen.drawLine 4
pop temp 0
push constant 221
push constant 114
push constant 228
push constant 100
call Screen.drawLine 4
pop temp 0
push constant 293
push constant 100
push constant 307
push constant 114
call Screen.drawLine 4
pop temp 0
push constant 307
push constant 114
push constant 314
push constant 100
call Screen.drawLine 4
pop temp 0
push constant 214
push constant 190
push constant 300
push constant 190
call Screen.drawLine 4
pop temp 0
push constant 0
return
function Face.drawDead 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 207
push constant 100
push constant 221
push constant 114
call Screen.drawLine 4
pop temp 0
push constant 207
push constant 114
push constant 221
push constant 100
call Screen.drawLine 4
pop temp 0
push constant 293
push constant 100
push constant 307
push constant 114
call Screen.drawLine 4
pop temp 0
push constant 293
push constant 114
push constant 307
push constant 100
call Screen.drawLine 4
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 220
push constant 190
push constant 7
call Screen.drawCircle 3
pop temp 0
push constant 0
return
function Face.erase 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 2
call Screen.drawCircle 3
pop temp 0
push constant 0
return
